@media(max-width: 600px){
    body{
    }
    .Gridd{
        display: grid;
        grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
    }
    .flex{
        justify-content: space-around;
    }
    .Gridd2{
        display: flex;
        flex-direction: column;
    }
    .Gridd2 form{
        display: flex;
        flex-direction: column;
        
    }
}
